/* font style */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Azeret Mono", monospace;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Header section start  */

.header-section-container{
    max-width: 1363px;
    height: 100px;
    /* display: flex;
    flex: row;
    justify-content: space-between; */
}
.header-content{
    width: 80% ;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.header-content p{
    font-size: 28px;
    font-weight: 800;
    color: rgb(13, 19, 33);
}
#download-resume-btn{
    width: 160px;
    height: 58px;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 10px;
    background-color: bisque;
    cursor: pointer;
}
#download-resume-btn:hover{
    color: rgba(170, 246, 19, 0.97);
    background-color: rgba(165, 42, 42, 0.866);
}

/* Header section End  */

/* banner section start */

.banner-section-container{
    max-width: 1363px;
    height: 652px;
    background-image: url(./assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-position: cover;
}
.banner-section-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 582px;
    width: 90%;
    margin: 0 auto;
    margin-top: 26px;
}
.banner-section-content img{
    height: 228px;
    width: 240px;
    margin-top: 26px;
}
.banner-section-content h2{
    font-size: 45px;
    font-weight: 800;
    color: rgb(13, 19, 33);
    margin-top: 32px;
}
.banner-section-content p{
    font-size: 16px;
    font-weight: 500;
    margin-left: 73px;
    margin-top: 24px;
    color: rgb(13, 19, 33);

}
.banner-section-content h6{
    margin-bottom: px;
    font-size: 16px;
    font-weight: 500;
    color: rgb(13, 19, 33);
}
.banner-section-content .connect-with-me-btn{
    width: 208px;
    height: 66px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background-color: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
    margin-top: 55px;
}
.banner-section-content .connect-with-me-btn a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.banner-section-content .connect-with-me-btn a:hover{
    color: rgb(197, 70, 184);
}
/* banner section End */

.web-development-section-container{
    height: 1330px;
    width: 90%;
    margin: 0 auto;
    /* border: 2px solid tomato; */
    margin-top: 74px;
    background-color: rgba(13, 19, 33, 0.02);
}
.web-development-section-content-continer{
    height: 1235px;
    width: 90%;
    margin: 0 auto;
    /* border: 2px solid teal; */
    margin-top: 60px;
    background-color: rgba(13, 19, 33, 0.02);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}
.web-development{
    height: 115px;
    width: 100%;
    margin-top: 80px;
    /* border: 2px solid rgb(13, 19, 33); */
}
.web-development{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.web-development h3{
    font-size: 32px;
    font-weight: 800;
    color: rgb(13, 19, 33);
    margin-bottom: 24px;
}
.web-development p{
    font-size: 16px;
    font-weight: 400;
    color: rgb(13, 19, 33);
}

/* change-the-world-section start */
.change-the-world-section-container{
    width: 100%;
    height: 330px;
    /* border: 2px solid violet; */
}
.change-the-world-section-content{
    width: 90%;
    height: 240px;
    margin: 0 auto;
    margin-top: 48px;
    /* border: 2px solid blue; */
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.464);
}
.text-01{
    width: 477px;
    height: 220px;
    margin-left: 50px;
    margin-top: 20px;
    /* border: 2px solid black; */
}
.text-01 h3{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
    color: rgba(13, 19, 33, 0.7);  
}
.text-01 p{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 32px;
    color: rgb(13, 19, 33);
}
.learn-more-btn{
    width: 150px;
    height: 48px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(13, 19, 33);
    background: rgba(13, 19, 33, 0.267);
    border-radius: 9px;
    padding: 5px;
    cursor: pointer;
}
.learn-more-btn:hover{
    color: brown;
    background: wheat;
}
.change-the-world-section-image{
    width: 259.56px;
    height: 217.01px;
    margin-top: 10px;
/* border: 2px solid gray; */
}
.change-the-world-section-image img{
    width: 100%;
    height: 100%;
}

/* change-the-world-section End  */

/* .modern-web-system-section start  */

.modern-web-system-section-container{
    width: 100%;
    height: 330px;
    /* border: 2px solid rgb(10, 153, 81); */
}
.modern-web-system-section-content{
    width: 90%;
    height: 240px;
    margin: 0 auto;
    margin-top: 48px;
    /* border: 2px solid blue; */
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.464);
}
.modern-web-system-section-image{
    width: 259.56px;
    height: 217.01px;
    margin-top: 10px;
}
.modern-web-system-section-image img{
    width: 100%;
    height: 100%;
}
.text-02{
    width: 477px;
    height: 220px;
    margin-right: 140px;
    margin-top: 20px;
}
.text-02 h3{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
    color: rgba(13, 19, 33, 0.7);  
}
.text-02 p{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 32px;
    color: rgb(13, 19, 33);
}

/* modern-web-system-section-End  */

/* change-the-world-section-container-02 start */

.change-the-world-section-container-02{
    width: 100%;
    height: 330px;
    /* border: 2px solid rgb(227, 206, 14); */
}
.change-the-world-section-content-02{
    width: 90%;
    height: 240px;
    margin: 0 auto;
    margin-top: 48px;
    /* border: 2px solid blue; */
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.464);
}
.text-03{
    width: 477px;
    height: 220px;
    margin-left: 50px;
    margin-top: 20px;
}
.text-03 h3{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
    color: rgba(13, 19, 33, 0.7);  
}
.text-03 p{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 32px;
    color: rgb(13, 19, 33);
}
.change-the-world-section-02-image{
    width: 259.56px;
    height: 217.01px;
    margin-top: 10px;
    margin-right: 20px;
}
.change-the-world-section-02-image img{
    width: 100%;
    height: 100%;
}
/* change-the-world-section-container-02 End */
